{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Analytics</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h2>Analytics</h2>
		<p>Total Crime Cases: {{total_crimes}}</p>
		
	</div>
	<div class="chart-container" style="position: relative; height:40vh; width:50vw;">
    	<canvas id="myChart"></canvas>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

	<script type="text/javascript">
	Chart.defaults.global.defaultFontFamily = 'Roboto Slab';
	
	window.onload = () => {
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ['Mumbai', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Ahemdabad'],
	        datasets: [{
	            label: 'No. of Crimes',
	            data: [120, 190, 300, 410, 150, 40],
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	    	title: {
	    		display: true,
	    		text: 'No. of Crimes in Cities',
	    		fontStyle: 'bold',
	    		fontSize: 25
	    	},
	    	legend: {
	    		display: false,
	    	}
	    }
	});
};
	
</script>
</body>
</html>