{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html>

<head>
	<title>Sahyog</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
		rel="stylesheet" />
	<link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

	<!-- PLUGINS CSS STYLE -->
	<link href="{% static 'assets-analytics/plugins/toaster/toastr.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/nprogress/nprogress.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/flag-icons/css/flag-icon.min.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics//plugins/jvectormap/jquery-jvectormap-2.0.3.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/ladda/ladda.min.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/select2/css/select2.min.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/daterangepicker/daterangepicker.css'%}" rel="stylesheet" />

	<!-- SLEEK CSS -->
	<link id="sleek-css" rel="stylesheet" href="{% static 'assets-analytics/css/sleek.css' %}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'style.css'%}"> -->


	<!-- <script src="{% static 'assets-analytics/plugins/nprogress/nprogress.js'%}"></script> -->
	{% progressive_web_app_meta %}
</head>
<style>
	.mdi {
		color: #ffaa00 !important;
	}

	.page-wrapper {
		background: url("{% static 'india1.jpg' %}");
		/* background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; */

		background-position: center;
		/* overflow: hidden;
	  margin: 0;
	  height: 100%; */
	}


	.btn {
		background-color: transparent;
		border: 2px solid #ff9800;
		border-color: #ff9800;
		padding: 10px;
		color: black;
		margin: 20px;
		font-family: georgia;
		border-radius: 10px;
		/*margin-top: 50vh;*/
		font-size: 20px;
	}

	.btn:hover {
		background-color: #ffc400;
		border-color: #ffc400;
	}

	.sos {
		background-color: black;
		border-color: red;
		color: white;
	}

	.sos:hover {
		background-color: red;
		color: white;
	}
</style>

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
	<script>
		NProgress.configure({ showSpinner: false });
		NProgress.start();
	</script>

	<div class="mobile-sticky-body-overlay"></div>
	<div class="wrapper">
		<aside class="left-sidebar bg-sidebar">
			<div id="sidebar" class="sidebar sidebar-with-footer">
				<!-- Aplication Brand -->
				<div style="background-color: #ffaa00;" class="app-brand">
					<a href="/index.html">

						<span class="brand-name">Sahyog</span>
					</a>
				</div>
				<!-- begin sidebar scrollbar -->
				<div class="sidebar-scrollbar">

					<!-- sidebar menu -->
					<ul class="nav sidebar-inner" id="sidebar-menu">


						<li class="has-sub  ">
							<a class="sidenav-item-link" href="/sahyog/index/">
								<i class="mdi mdi-view-dashboard-outline"></i>
								<span class="nav-text">Home</span>
							</a>

						</li>




						<li class="has-sub">
							<a class="sidenav-item-link" href="/sahyog/report/">
								<i class="mdi mdi-image-filter-none"></i>

								<span class="nav-text">Report</span>
							</a>


						</li>





						<li class="has-sub">
							<a class="sidenav-item-link" href="/sahyog/validate/">
								<i class="mdi mdi-check"></i>
								<span class="nav-text">Validate</span>
							</a>

						</li>



						<li class="has-sub">
							<a class="sidenav-item-link" href="/sahyog/safey/">
								<i class="mdi mdi-map-marker-multiple"></i>
								<span class="nav-text">Safe Route</span>
							</a>


						</li>



						<li class="has-sub active">
							<a class="sidenav-item-link" href="/sahyog/analytics">
								<i class="mdi mdi-chart-line"></i>
								<span class="nav-text">Analytics</span>
							</a>
						</li>

						<li class="has-sub">
							<a class="sidenav-item-link" href="/sahyog/logout">
								<i class="mdi mdi-logout"></i>
								<span class="nav-text">Logout</span>
							</a>
						</li>








					</ul>

				</div>

				<hr class="separator" />

				<div class="sidebar-footer">
					<div class="sidebar-footer-content">
						<h6 class="text-uppercase">
							Cases Closed <span class="float-right">72%</span>
						</h6>
						<div class="progress progress-xs">
							<div class="progress-bar active" style="width: 72%;" role="progressbar"></div>
						</div>
						<h6 class="text-uppercase">
							Crimes Validated<span class="float-right">65%</span>
						</h6>
						<div class="progress progress-xs">
							<div class="progress-bar progress-bar-warning" style="width: 65%;" role="progressbar"></div>
						</div>
					</div>
				</div>
			</div>
		</aside>



		<div class="page-wrapper" style="background-color: #323232; ">
			<!-- Header -->
			<header class="main-header " id="header">
				<nav style="background-color: transparent; border: none;"
					class="navbar navbar-static-top navbar-expand-lg">
					<!-- Sidebar toggle button -->
					<button style="background-color: transparent; border: none; color: white;" id="sidebar-toggler"
						class="sidebar-toggle">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<!-- search form -->
					<div class="search-form d-none d-lg-inline-block">
						<div class="input-group">

						</div>
						<div id="search-results-container">
							<ul id="search-results"></ul>
						</div>
					</div>

					<div class="navbar-right ">
						<ul class="nav navbar-nav">
							<a href="/sahyog/SOS/" class="btn sos">SOS</a>
							{% if  username  %}
							<a href="" style="color: white; background-color: black;"
								class="btn btn-dark">{{username}}</a>
							{% else %}
							<a style="color: white; background-color: black;" href="/sahyog/register/"
								class="btn btn-dark">Register</a>
							<a style="color: white; background-color: black;" href="/sahyog/login/"
								class="btn btn-dark">Login</a>
							{% endif %}
						</ul>
					</div>
				</nav>


			</header>
			<div class="content-wrapper">
				<div class="content">
					<div class="row">


						<div class=" col-md-8">
							<div class="card card-default" data-scroll-height="675">
								<div class="card-header justify-content-center">
									<h2>State & Crime Analysis</h2>
								</div>
								<div class="chart-container">
									{% include "UserViews/chart.html" %}
								</div>
							</div>
						</div>


					</div>
					<div class="row">


						<div class="col-xl-8 col-md-12">
							<div class="card card-default" data-scroll-height="675">
								<div class="card-header justify-content-center">
									<h2>No. of Crimes across Maharashtra</h2>
								</div>
								<div class="chart-container">
									<canvas id="myChart"></canvas>

								</div>
								<a href="#" class="pb-5 d-block text-center text-muted"><i
										class="mdi mdi-download mr-2"></i> Download overall report</a>
								<div class="card-footer d-flex flex-wrap bg-white p-0">
									<div class="col-6">
										<div class="py-4 px-4">
											<ul class="d-flex flex-column justify-content-between">
												<li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #4c84ff"></i>lorem ipsum</li>
												<li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #80e1c1 "></i>lorem ipsum</li>
											</ul>
										</div>
									</div>
									<div class="col-6 border-left">
										<div class="py-4 px-4 ">
											<ul class="d-flex flex-column justify-content-between">
												<li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #8061ef"></i>lorem ipsum</li>
												<li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #ffa128"></i>lorem ipsum</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="chart-container" style="position: relative; height:40vh; width:50vw;">
			</div> -->
						</div>
						<div class="col-xl-4 col-md-12">
							<!-- Doughnut Chart -->

							<div class="card card-default" data-scroll-height="750">
								<div class="card-header justify-content-center">
									<h2>Crime Overview</h2>
								</div>
								<div class="card-body">
									<canvas id="doChart"></canvas>
								</div>
								<a href="#" class="pb-5 d-block text-center text-muted"><i
										class="mdi mdi-download mr-2"></i> Download overall report</a>
								<div class="card-footer d-flex flex-wrap bg-white p-0">
									<div class="col-6">
										<div class="py-4 px-4">
											<ul class="d-flex flex-column justify-content-between">
												<li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #4c84ff"></i>lorem ipsum</li>
												<li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #80e1c1 "></i>lorem ipsum</li>
											</ul>
										</div>
									</div>
									<div class="col-6 border-left">
										<div class="py-4 px-4 ">
											<ul class="d-flex flex-column justify-content-between">
												<li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #8061ef"></i>lorem ipsum</li>
												<li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
														style="color: #ffa128"></i>lorem ipsum</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>


					<div class="row">


						<div class=" col-md-11">
							<div class="card card-default" data-scroll-height="675">
								<div class="card-header justify-content-center">
									<h2>State & Crime Analysis</h2>
								</div>
								<div class="chart-container">
									{% include "UserViews/multiLine.html" %}
								</div>
							</div>
						</div>
						


					</div>
					

					<div class="row">


						<div class=" col-md-11">
							<div class="card card-default" data-scroll-height="675">
								<div class="card-header justify-content-center">
									<h2>State & Crime Analysis</h2>
								</div>
								<div class="chart-container">
									{% include "UserViews/multipleBar.html" %}
								</div>
							</div>
						</div>


					</div>
					
				</div>
			</div>
		</div>



		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM"
			defer></script>
		<script src="{% static 'assets-analytics/plugins/jquery/jquery.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/toaster/toastr.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/slimscrollbar/jquery.slimscroll.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/charts/Chart.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/ladda/spin.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/ladda/ladda.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jquery-mask-input/jquery.mask.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/select2/js/select2.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-world-mill.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/daterangepicker/moment.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/daterangepicker/daterangepicker.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jekyll-search.min.js'%}"></script>
		<script src="{% static 'assets-analytics/js/sleek.js'%}"></script>
		<script src="{% static 'assets-analytics/js/chart.js'%}"></script>
		<script src="{% static 'assets-analytics/js/date-range.js'%}"></script>
		<script src="{% static 'assets-analytics/js/map.js'%}"></script>
		<script src="{% static 'assets-analytics/js/custom.js'%}"></script>

		<script type="text/javascript">
			Chart.defaults.global.defaultFontFamily = 'Roboto Slab';

			window.onload = () => {
				var ctx = document.getElementById('myChart').getContext('2d');
				var myDoughnutChart = new Chart(ctx, {
					type: 'pie',
					data: {
						labels: ['Murder', 'Rape', 'Robbery', 'Kidnapping', 'Riot', 'Theft', 'Dacoity', 'Burglary'],
						datasets: [{
							// label: 'No. of Crimes across Maharashtra',
							data: [2515, 3063, 9746, 2640, 9610, 52670, 833, 18328],
							backgroundColor: ['#E0743E', '#2A6592', '#D01BF4', '#39AA58', '#FBBF11', '#109BF8', '#7E9A9A', '#A44599'],
							// borderColor: ['bc5d2d','0e75ba','b70eba'],
							borderAlign: 'inner',
							// hoverBorderColor: ['9b4920','095487','8c098e'],
							borderWidth: 1
						}]
					},
					options: {
						title: {
							display: true,
							// text: 'No. of Crimes in Cities',
							fontStyle: 'bold',
							fontSize: 25
						}
					}
				});
			};

		</script>
</body>

</html>