<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Safely</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<script type="text/javascript">



    jQuery(document).ready(function ($) {
        tab = $('.tabs h3 a');

        tab.on('click', function (event) {
            event.preventDefault();
            tab.removeClass('active');
            $(this).addClass('active');

            tab_content = $(this).attr('href');
            $('div[id$="tab-content"]').removeClass('active');
            $(tab_content).addClass('active');
        });
    });




</script>
<style type="text/css">
    .invi {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;

    }

    .card {
        cursor: pointer;
        /* margin: 20px !important; */
    }

    .card:hover {
        background-color: #000 !important;
    }
</style>


<body>

    <nav class="navbar navbar-expand navbar-light" style="background-color: black; color:white;">
        <!-- Navbar content -->
        <a class="navbar-brand " style="color:white">Sahyog</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" style="color: white;" href="">Features</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="">Settings</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="">{{username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/sahyog/logout">Logout</a>
                </li>
                <!-- <li style="float:right;" class="nav-item">
                    <a class="btn" style="color: white;" href="">Contribute</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <div class="container " style="text-align:center;">
        <!-- <h1 class="display-4">Select an option</h1>
        <p class="lead">Click on a button to take action or secure yourself.</p><br><br> -->
        <div class="row">
            <div class="card text-white  mb-3 mx-auto" style="max-width: 18rem; background-color :#fc4a03;">
                <div class="card-body">
                    <h4 class="card-title">SOS Emergency</h4>
                    <a href="../SOS/" class="invi stretched-link"><span class="invi"></span></a>
                    <p class="card-text">Send an automatic 100 call and alert registered near ones.</p>
                </div>
            </div>
            <div class="card text-white  mb-3 mx-auto" style="max-width: 18rem; background-color: #ffc400;">
                <div class="card-body">
                    <h4 class="card-title">Safe Route</h4>
                    <a href="../safey/" class="invi stretched-link"><span class="invi"></span></a>
                    <p class="card-text">View safe routes to reach a destination; or mark an area as unsafe for women.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card text-white mb-3 mx-auto" style="max-width: 18rem; background-color: #ff6f00;">
                <div class="card-body">
                    <h4 class="card-title">Report</h4>

                    <a href="../report/" class="invi stretched-link"><span class="invi"></span></a>
                    <p class="card-text">Report a crime witnessed by you or against you.</p>
                </div>
            </div>
            <div class="card text-white  mb-3 mx-auto" style="max-width: 18rem; background-color: #ffaa00;">
                <div class="card-body">
                    <h4 class="card-title">Validate </h4>
                    <a href="/SOS/" class="invi stretched-link"><span class="invi"></span></a>
                    <p class="card-text">Validate a crime that you have witnessed, or provide supporting media.</p>
                </div>
            </div>
        </div>


    </div>


    </div>

</body>

</html>