{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Sahyog</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
		rel="stylesheet" />
	<link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="{% static 'style.css'%}"> -->


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

    <script
        src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="{% static 'styles.css'%}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'scripts/index.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}"> 
	<!-- PLUGINS CSS STYLE -->
	<link href="{% static 'assets-analytics/plugins/toaster/toastr.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/nprogress/nprogress.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/flag-icons/css/flag-icon.min.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics//plugins/jvectormap/jquery-jvectormap-2.0.3.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/ladda/ladda.min.css'%}" rel="stylesheet" />
	<link href="{% static 'assets-analytics/plugins/select2/css/select2.min.css'%}" rel="stylesheet" />
    <link href="{% static 'assets-analytics/plugins/daterangepicker/daterangepicker.css'%}" rel="stylesheet" />
    <!-- SLEEK CSS -->
	<link id="sleek-css" rel="stylesheet" href="{% static 'assets-analytics/css/sleek.css' %}" />
</head>
<style>
        * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 800px;
        /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    h4 {
        margin-top: 30px;
    }

    .whitey {
        padding: 30px;
        /* padding-top: 50px; */
        background-color: #323232;
        /* text-align: center; */
        width: 100%;
        color: white;
        /* z-index: 1; */
        /* margin-top: 60px; */
    }

    /* #mapid {

        width: 80%;

       
    } */

    .modal-backdrop {
        opacity: 0.5 !important;
    }

	.mdi {
		color: #ffaa00 !important;
	}
    body,
    html {
      background: url("{% static 'india1.jpg' %}");
      /* background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; */
      
      background-position: center;
    }
  
    #overlay {
      position: fixed;
      /* display: none; */
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
      cursor: pointer;
      text-align: center;
    }
  
  
    .btn {
      background-color: transparent;
      border: 2px solid #ff9800;
      border-color: #ff9800;
      padding: 10px;
      margin: 10px;
      font-family: georgia;
      border-radius: 10px;
      /*margin-top: 50vh;*/
      font-size: 20px;
    }
  
    .btn:hover {
      background-color: #ffc400;
	  border-color: #ffc400;
    }

    .sos{
        background-color: black;
        border-color: red;
        color: white;
    }
    .sos:hover{
        background-color: red;
        color: white;
    }
  </style>
<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
	<script>
		NProgress.configure({ showSpinner: false });
		NProgress.start();
	</script>

	<div class="mobile-sticky-body-overlay"></div>
	<div class="wrapper">
		<aside class="left-sidebar bg-sidebar">
			<div id="sidebar" class="sidebar sidebar-with-footer">
				<!-- Aplication Brand -->
				<div style="background-color: #ffaa00;" class="app-brand">
					<a href="">

						<span class="brand-name">Sahyog</span>
					</a>
				</div>
				<!-- begin sidebar scrollbar -->
				<div class="sidebar-scrollbar">

					<!-- sidebar menu -->
					<ul class="nav sidebar-inner" id="sidebar-menu">



						<li class="has-sub expand">
							<a class="sidenav-item-link" href="/sahyog/index/" >
								<i class="mdi mdi-view-dashboard-outline"></i>
								<span class="nav-text">Home</span>
							</a>

						</li>




						<li class="has-sub">
                            <a class="sidenav-item-link" href="/sahyog/report/" >
                                <i class="mdi mdi-image-filter-none"></i>
								
								<span class="nav-text">Report</span>
							</a>


						</li>





						<li class="has-sub">
							<a class="sidenav-item-link" href="/sahyog/validate/" >
								<i class="mdi mdi-check"></i>
								<span class="nav-text">Validate</span>
							</a>

                        </li>

					

                        <li class="has-sub active">
							<a class="sidenav-item-link" href="/sahyog/safey/">
								<i class="mdi mdi-map-marker-multiple"></i>
								<span class="nav-text">Safe Route</span>
							</a>


						</li>



                        <li class="has-sub">
							<a class="sidenav-item-link" href="/sahyog/analytics" >
								<i class="mdi mdi-chart-line"></i>
								<span class="nav-text">Analytics</span>
							</a>
						</li>


                        <li class="has-sub">
                            <a class="sidenav-item-link"  href="/sahyog/logout">
                                <i class="mdi mdi-logout"></i>
                                    <span class="nav-text">Logout</span>
                            </a>
                            </li>



						









					</ul>

				</div>

				<hr class="separator" />

				<div class="sidebar-footer">
					<div class="sidebar-footer-content">
						<h6 class="text-uppercase">
							Cases Closed <span class="float-right">72%</span>
						</h6>
						<div class="progress progress-xs">
							<div class="progress-bar active" style="width: 72%;" role="progressbar"></div>
						</div>
						<h6 class="text-uppercase">
							Crimes Validated<span class="float-right">65%</span>
						</h6>
						<div class="progress progress-xs">
							<div class="progress-bar progress-bar-warning" style="width: 65%;" role="progressbar"></div>
						</div>
					</div>
				</div>
			</div>
		</aside>



		<div class="page-wrapper">
			<!-- Header -->
			<header class="main-header " id="header">
				<nav style="background-color: transparent; border: none;" class="navbar navbar-static-top navbar-expand-lg">
					<!-- Sidebar toggle button -->
					<button style="background-color: black; border: none; color: white;" id="sidebar-toggler" class="sidebar-toggle">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<!-- search form -->
					<div class="search-form d-none d-lg-inline-block">
						<div class="input-group">

						</div>
						<div id="search-results-container">
							<ul id="search-results"></ul>
						</div>
					</div>

					<div class="navbar-right ">
						<ul class="nav navbar-nav">
                            <a href="/sahyog/SOS/"  class="btn sos">SOS</a>
							<!-- <a href="/sahyog/register/" class="btn btn-dark">Register</a> -->
							{% if  username  %}
							<a href="" class="btn btn-dark">{{username}}</a>
							{% else %}
                            <a href="/sahyog/register/" class="btn btn-dark">Register</a>
							<a href="/sahyog/login/" class="btn btn-dark">Login</a>
							{% endif %}
                      
                            
						</ul>
					</div>
				</nav>


			</header>
			<div class="content-wrapper">
    <!-- The Modal -->
    <div class="modal " id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Find a Safe Route</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="SafeRoutesForm">
                        {% csrf_token %}
                        <div id="src">
                            <h4>Enter Source:</h4>
                        </div>

                        <div id="dest">
                            <h4>Enter Destination:</h4>
                        </div>
                        <br><br>
                        <!-- <input type="button" onclick="saferoutesfunc()" class="btn" value="Find Route"
                            style="margin-top: 30px; color:white; font-size: 20px; width: 180px;">
                        <input type="button" id="butn" onclick="" class="btn"
                            value="View All Routes"
                            style="margin-top: 30px; color:white; font-size: 20px; width: 300px; display: none;">
                        <button type="button" id="butn" class="btn center-box"
                            style="margin-top: 30px; color:white; font-size: 20px; width: 300px; display: none;"
                            onclick="showStoredRoutes()">Show me map</button> -->

                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" style="color: black;" class="btn btn-danger" data-dismiss="modal" onclick="saferoutesfunc()">Find
                        Route</button>
                </div>

            </div>
        </div>
    </div>



    <div id="mapid" class="panel-body" style="margin: 20px;">
    </div>
    <div style="text-align: center;">
        <button type="button" id="butn" class="btn mx-auto" style="color:white; font-size: 20px; width: 300px;"
            onclick="showStoredRoutes()">Show me
            map</button>
    </div>

    <div id="meramaps" style="display: none;">
        <div class="panel panel-default">
            <div id="mapid1" class="panel-body" style="height:500px; margin: 20px;">


            </div>
            <div style="height:300px; background-color: #323232; color: white; z-index: 9; padding: 20px;">
                Lorem!psum dolores sumiyLorem!psum dolores sumiyLorem!psum dolores sumiyLorem!psum dolores
                sumiyLorem!psum
                dolores sumiyLorem!psum dolores sumiy
            </div>

        </div>

        <div class="panel panel-default">
            <div id="mapid2" class="panel-body" style="height: 500px; margin: 20px;">
            </div>
            <div style="height:300px; background-color: #323232; color: white; z-index: 9; padding: 20px;">
                Lorem!psum dolores sumiyLorem!psum dolores sumiyLorem!psum dolores sumiyLorem!psum dolores
                sumiyLorem!psum
                dolores sumiyLorem!psum dolores sumiy
            </div>


        </div>

        <div class="panel panel-default">
            <div id="mapid3" class="panel-body" style="height: 500px; margin: 20px;">
            </div>
            <div style="height:300px; background-color: #323232; color: white; z-index: 9; padding: 20px;">
                Lorem!psum dolores sumiyLorem!psum dolores sumiyLorem!psum dolores sumiyLorem!psum dolores
                sumiyLorem!psum
                dolores sumiyLorem!psum dolores sumiy
            </div>
        </div>
    </div>



</div>
</div>
</div>


    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
            $('#myModal').modal({ backdrop: 'static', keyboard: false });
        });
    </script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM"
defer></script>
<script src="{% static 'assets-analytics/plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/toaster/toastr.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/slimscrollbar/jquery.slimscroll.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/charts/Chart.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/ladda/spin.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/ladda/ladda.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/jquery-mask-input/jquery.mask.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/select2/js/select2.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-world-mill.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/daterangepicker/moment.min.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/daterangepicker/daterangepicker.js'%}"></script>
<script src="{% static 'assets-analytics/plugins/jekyll-search.min.js'%}"></script>
<script src="{% static 'assets-analytics/js/sleek.js'%}"></script>
<script src="{% static 'assets-analytics/js/chart.js'%}"></script>
<script src="{% static 'assets-analytics/js/date-range.js'%}"></script>
<script src="{% static 'assets-analytics/js/map.js'%}"></script>
<script src="{% static 'assets-analytics/js/custom.js'%}"></script>

    <script>
        var latlng;
        var mymap;
        var crimeLocation;
        var coodsLat = [];
        var coodsLng = [];
        var currLat;
        var currLong;


        navigator.geolocation.getCurrentPosition(function (location) {
            latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
            currLat = location.coords.latitude;
            currLong = location.coords.longitude;
            mymap = L.map('mapid').setView(latlng, 13)
            mymap.locate({ watch: true });

            L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(mymap);
            L.control.scale().addTo(mymap);


            var searchControl = new L.esri.Controls.Geosearch().addTo(mymap);
            var searchControl2 = new L.esri.Controls.Geosearch().addTo(mymap);
            var results = new L.LayerGroup().addTo(mymap);
            $(document).ready(function () {

                var newParent = document.getElementById('src');
                var newParent2 = document.getElementById('dest');
                var oldParent = document.getElementsByClassName("leaflet-top leaflet-left")
                var i = 1;
                while (oldParent[0].childNodes.length > 0) {
                    if (i == 1) {

                        newParent.appendChild(oldParent[0].childNodes[0]);
                        //newParent2.appendChild(oldParent[0].childNodes[0]);
                        i++;
                    }
                    if (i == 2) {
                        // h4 = document.createElement("h4");
                        // h4.textContent = "Enter Source:";
                        // newParent.appendChild(h4);
                        newParent.innerHTML += '<input class="form-control" type="text" name="location1" id="location1" readonly>';
                        newParent.appendChild(oldParent[0].childNodes[0]);

                        i++;
                    }
                    if (i == 3) {
                        // h4 = document.createElement("h4");
                        // h4.textContent = "Enter Destination:";
                        // newParent2.appendChild(h4);
                        newParent2.innerHTML += '<input class="form-control" type="text" name="location2" id="location2" readonly>'
                        newParent2.appendChild(oldParent[0].childNodes[0]);

                        i++;
                    }

                }
                $(".leaflet-control-zoom").css("display", "none");
            });

            searchControl.on('results', function (data) {
                //results.clearLayers();
                for (var i = data.results.length - 1; i >= 0; i--) {
                    srcMarker = L.marker(data.results[i].latlng);
                    results.addLayer(srcMarker);
                    coodsLat.push(data.results[i].latlng.lat);
                    coodsLng.push(data.results[i].latlng.lng);
                    console.log(data.results[i]);
                    document.getElementById("location1").value = data.results[i].text;
                    srcCood = { "lat": data.results[i].latlng.lat, "lng": data.results[i].latlng.lng }
                }
            });

            searchControl2.on('results', function (data) {
                //results.clearLayers();
                for (var i = data.results.length - 1; i >= 0; i--) {

                    destMarker = L.marker(data.results[i].latlng);
                    results.addLayer(destMarker);
                    coodsLat.push(data.results[i].latlng.lat);
                    coodsLng.push(data.results[i].latlng.lng);
                    console.log(data.results[i]);
                    document.getElementById("location2").value = data.results[i].text;
                    destCood = { "lat": data.results[i].latlng.lat, "lng": data.results[i].latlng.lng }
                }
            });

            L.marker(latlng).addTo(mymap);


        });



        $(document).on('submit', '#reportcrime', function (event) {
            event.preventDefault();
            var $form = $(this),
                url = $form.attr('action');
            var paramArr = $("#reportcrime").serializeArray();
            paramArr.push({ name: "lat", value: crimeLocation.lat });
            paramArr.push({ name: "lng", value: crimeLocation.lng });
            $.post(url, $.param(paramArr), function (result) {
                alert('success');
            });
            return false;
        });
        var LeafIcon = L.Icon.extend({
            options: {

                iconSize: [40, 55],
                shadowSize: [50, 64],
                iconAnchor: [22, 94],
                shadowAnchor: [4, 62],
                popupAnchor: [-3, -76]
            }
        });
        var greenIcon = new LeafIcon({ iconUrl: "{% static 'images/green.png' %}" }),
            redIcon = new LeafIcon({ iconUrl: "{% static 'images/red.png' %}" }),
            orangeIcon = new LeafIcon({ iconUrl: 'leaf-orange.png' });

        if (typeof (EventSource) !== "undefined") {
            var source = new EventSource("{% url 'SSE' %}");

            source.onmessage = function (event) {

                console.log((JSON.parse(event.data)));
                JSON.parse(event.data).forEach((item, index) => {
                    if (!coodsLat.includes(item.lat) && !coodsLng.includes(item.lng)) {
                        console.log('nope');
                        coodsLat.push(item.lat);
                        coodsLng.push(item.lng);
                        var temp = new L.LatLng(item.lat, item.lng);
                        L.marker(temp, { icon: redIcon }).addTo(mymap);

                    }

                });

            };
        } else {
            console.log("Error");
        }

        $(document).on('submit', '#reportcrime', function (event) {
            event.preventDefault();
            var $form = $(this),
                url = $form.attr('action');
            var paramArr = $("#reportcrime").serializeArray();
            paramArr.push({ name: "lat", value: crimeLocation.lat });
            paramArr.push({ name: "lng", value: crimeLocation.lng });
            $.post(url, $.param(paramArr), function (result) {
                alert('success');
            });
            return false;
        });

        $(document).on('submit', '#SOSForm', function (event) {
            event.preventDefault();
            var $form = $(this),
                url = $form.attr('action');
            var paramArr = $("#SOSForm").serializeArray();
            paramArr.push({ name: "test", value: "lalala" });

            $.post(url, $.param(paramArr), function (result) {
                alert('success');
            });
            return false;
        });
        var storedRoutes = [];
        function saferoutesfunc() {
            //document.getElementById("butn").style.display = "inline";
            var HttpClient = function () {
                this.get = function (aUrl, aCallback) {
                    var anHttpRequest = new XMLHttpRequest();
                    anHttpRequest.onreadystatechange = function () {
                        if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                            aCallback(anHttpRequest.responseText);
                    }

                    anHttpRequest.open("GET", aUrl, true);
                    anHttpRequest.send(null);
                }
            }
            myloc1Lat = srcCood.lat;
            myloc1Long = srcCood.lng;
            myloc2Lat = destCood.lat;
            myloc2Long = destCood.lng;
            var group = new L.featureGroup([srcMarker, destMarker]);

            mymap.fitBounds(group.getBounds());
            var geocoderAPISrc = new HttpClient();
            abc = 'https://route.ls.hereapi.com/routing/7.2/calculateroute.json?waypoint0=' + myloc1Lat + '%2C' + myloc1Long + '&waypoint1=' + myloc2Lat + '%2C' + myloc2Long + '&mode=fastest%3Bcar&alternatives=4&apiKey=N2AFSomTN5V2AoOG6_Lqq8lVFxaKO0uM4H-Y4Q0mWhU'
            geocoderAPISrc.get(abc, function (response) {
                // do something with response
                let result = JSON.parse(response);
                console.log("Here maps res: ");
                routes = result.response.route;
                // item = routes[4];
                // myroute = item.leg[0].maneuver;
                // //console.log(myroute);
                // latlngs = [];
                // myroute.forEach(function (item, index) {
                //     console.log(item.instruction);
                //     console.log(item.position.latitude + " , " + item.position.longitude)
                //     var routeMarker = new L.LatLng(item.position.latitude, item.position.longitude);
                //     L.marker(routeMarker).addTo(mymap);
                //     latlngs.push([item.position.latitude, item.position.longitude])
                // });


                colors = ['red', 'blue', 'green', 'yellow', 'orange', 'black'];
                j = 0;
                routes.forEach(function (item, index) {
                    console.log(index);
                    myroute = item.leg[0].maneuver;
                    //console.log(myroute);
                    latlngs = []
                    storedRoutes[index] = myroute;
                    myroute.forEach(function (item, index) {
                        console.log(item.instruction);
                        console.log(item.position.latitude + " , " + item.position.longitude)
                        var routeMarker = new L.LatLng(item.position.latitude, item.position.longitude);
                        //L.marker(routeMarker).addTo(mymap);
                        latlngs.push([item.position.latitude, item.position.longitude])
                        var polyline = L.polyline(latlngs, { color: colors[j] }).addTo(mymap);
                        // zoom the map to the polyline
                        mymap.fitBounds(polyline.getBounds());
                    });

                    j++;


                });



            });

            //showStoredRoutes();
        }

        function calculateSafeRoute() {
            var geocoderAPI = new HttpClient();

            abc = 'https://route.ls.hereapi.com/routing/7.2/calculateroute.json?waypoint0=' + myloc1Lat + '%2C' + myloc1Long + '&waypoint1=' + myloc2Lat + '%2C' + myloc2Long + '&mode=fastest%3Bcar&alternatives=4&apiKey=N2AFSomTN5V2AoOG6_Lqq8lVFxaKO0uM4H-Y4Q0mWhU&avoidAreas=' + dangerCoods
            geocoderAPI.get(abc, function (response) {
                // do something with response
                let result = JSON.parse(response);
                console.log("Here maps res: ");
                routes = result.response.route;


                colors = ['red', 'blue', 'green', 'yellow', 'orange', 'black'];
                j = 0;
                routes.forEach(function (item, index) {
                    console.log(index);
                    myroute = item.leg[0].maneuver;
                    //console.log(myroute);
                    latlngs = []
                    storedRoutes[index] = myroute;
                    myroute.forEach(function (item, index) {
                        console.log(item.instruction);
                        console.log(item.position.latitude + " , " + item.position.longitude)
                        var routeMarker = new L.LatLng(item.position.latitude, item.position.longitude);
                        //L.marker(routeMarker).addTo(mymap);
                        latlngs.push([item.position.latitude, item.position.longitude])
                        var polyline = L.polyline(latlngs, { color: colors[j] }).addTo(mymap);
                        // zoom the map to the polyline
                        mymap.fitBounds(polyline.getBounds());
                    });

                    j++;


                });



            });
        }

        function showStoredRoutes() {
            document.getElementById("mapid").style.display = "none";
            document.getElementById("butn").style.display = "none";
            document.getElementById("meramaps").style.display = "block";
            // document.getElementById("whitey").style.display = "none";
            var LeafIcon = L.Icon.extend({
                options: {

                    iconSize: [40, 55],
                    shadowSize: [50, 64],
                    iconAnchor: [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor: [-3, -76]
                }
            });
            var greenIcon = new LeafIcon({ iconUrl: "{% static 'images/green.png' %}" }),
                redIcon = new LeafIcon({ iconUrl: "{% static 'images/red.png' %}" }),
                orangeIcon = new LeafIcon({ iconUrl: 'leaf-orange.png' });
            temp1 = [19.157260,
                19.165980,
                19.174745,
                19.177410,
                19.177410,
                19.177410,
                19.218860,
                19.218860,
                19.171471,
                19.171471,
                19.171471,
                19.177959,
                19.170000,
                19.174745,
                19.177800,
                19.177420]
            temp2 = [


                72.946930,
                72.946740,
                72.944475,
                72.954453,
                72.954453,
                72.828700,
                19.218860,
                19.218860,
                72.933563,
                72.933563,
                72.933563,
                72.944229,
                72.952370,
                72.944475,
                72.951553,
                72.941811

            ]
            //route1
            mymap1 = L.map('mapid1').setView(latlng, 13)
            mymap1.locate({ watch: true });

            L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(mymap1);
            L.control.scale().addTo(mymap1);

            myroute = storedRoutes[0];
            //console.log(myroute);
            latlngs = [];
            myroute.forEach(function (item, index) {
                console.log(item.instruction);
                console.log(item.position.latitude + " , " + item.position.longitude)
                var routeMarker = new L.LatLng(item.position.latitude, item.position.longitude);
                L.marker(routeMarker).addTo(mymap1);
                latlngs.push([item.position.latitude, item.position.longitude])
                var polyline = L.polyline(latlngs, { color: colors[0] }).addTo(mymap1);
                // zoom the map to the polyline
                mymap1.fitBounds(polyline.getBounds());
            });
            for (var k = 0; k < 15; k++) {
                var routeMarker = new L.LatLng(temp1[k], temp2[k]);
                L.marker(routeMarker, { icon: greenIcon }).addTo(mymap1);



            }
            var coodsLatChotu = [];
            var coodsLngChotu = [];
            if (typeof (EventSource) !== "undefined") {
                var source = new EventSource("{% url 'SSE' %}");

                source.onmessage = function (event) {

                    console.log((JSON.parse(event.data)));
                    JSON.parse(event.data).forEach((item, index) => {
                        if (!coodsLatChotu.includes(item.lat) && !coodsLngChotu.includes(item.lng)) {
                            console.log('nope');
                            coodsLatChotu.push(item.lat);
                            coodsLngChotu.push(item.lng);
                            var temp = new L.LatLng(item.lat, item.lng);
                            L.marker(temp, { icon: redIcon }).addTo(mymap1);

                        }

                    });

                };
            } else {
                console.log("Error");
            }

            //route2
            mymap2 = L.map('mapid2').setView(latlng, 13)
            mymap2.locate({ watch: true });

            L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(mymap2);
            L.control.scale().addTo(mymap2);

            myroute = storedRoutes[1];
            //console.log(myroute);
            latlngs = [];

            myroute.forEach(function (item, index) {
                console.log(item.instruction);
                console.log(item.position.latitude + " , " + item.position.longitude)
                var routeMarker = new L.LatLng(item.position.latitude, item.position.longitude);
                L.marker(routeMarker).addTo(mymap2);
                latlngs.push([item.position.latitude, item.position.longitude])
                var polyline = L.polyline(latlngs, { color: colors[1] }).addTo(mymap2);
                // zoom the map to the polyline
                mymap2.fitBounds(polyline.getBounds());
            });
            for (var k = 0; k < 15; k++) {
                var routeMarker = new L.LatLng(temp1[k], temp2[k]);

                L.marker(routeMarker, { icon: greenIcon }).addTo(mymap2);



            }
            var coodsLatChotu2 = [];
            var coodsLngChotu2 = [];
            if (typeof (EventSource) !== "undefined") {
                var source = new EventSource("{% url 'SSE' %}");

                source.onmessage = function (event) {

                    console.log((JSON.parse(event.data)));
                    JSON.parse(event.data).forEach((item, index) => {
                        if (!coodsLatChotu2.includes(item.lat) && !coodsLngChotu2.includes(item.lng)) {
                            console.log('nope');
                            coodsLatChotu2.push(item.lat);
                            coodsLngChotu2.push(item.lng);
                            var temp = new L.LatLng(item.lat, item.lng);

                            L.marker(temp, { icon: redIcon }).addTo(mymap2);

                        }

                    });

                };
            } else {
                console.log("Error");
            }

            //route3
            mymap3 = L.map('mapid3').setView(latlng, 13)
            mymap3.locate({ watch: true });

            L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(mymap3);
            L.control.scale().addTo(mymap3);

            myroute = storedRoutes[2];
            //console.log(myroute);
            latlngs = [];
            myroute.forEach(function (item, index) {
                console.log(item.instruction);
                console.log(item.position.latitude + " , " + item.position.longitude)
                var routeMarker = new L.LatLng(item.position.latitude, item.position.longitude);
                L.marker(routeMarker).addTo(mymap3);
                latlngs.push([item.position.latitude, item.position.longitude])
                var polyline = L.polyline(latlngs, { color: colors[2] }).addTo(mymap3);
                // zoom the map to the polyline
                mymap3.fitBounds(polyline.getBounds());
            });


            for (var k = 0; k < 15; k++) {
                var routeMarker = new L.LatLng(temp1[k], temp2[k]);

                L.marker(routeMarker, { icon: greenIcon }).addTo(mymap3);


            }
            var coodsLatChotu3 = [];
            var coodsLngChotu3 = [];
            if (typeof (EventSource) !== "undefined") {
                var source = new EventSource("{% url 'SSE' %}");

                source.onmessage = function (event) {

                    console.log((JSON.parse(event.data)));
                    JSON.parse(event.data).forEach((item, index) => {
                        if (!coodsLatChotu3.includes(item.lat) && !coodsLngChotu3.includes(item.lng)) {
                            console.log('nope');
                            coodsLatChotu3.push(item.lat);
                            coodsLngChotu3.push(item.lng);
                            var temp = new L.LatLng(item.lat, item.lng);

                            L.marker(temp, { icon: redIcon }).addTo(mymap3);
                        }

                    });

                };
            } else {
                console.log("Error");
            }




        }
    </script>
</body>

<!-- jQuery Js -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- Bootstrap Js -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Js -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>

<script src="{% static 'assets/js/easypiechart.js' %}"></script>
<script src="{% static 'assets/js/easypiechart-data.js' %}"></script>
<script src="{% static 'assets/js/Lightweight-Chart/jquery.chart.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM"
			defer></script>
		<script src="{% static 'assets-analytics/plugins/jquery/jquery.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/toaster/toastr.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/slimscrollbar/jquery.slimscroll.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/charts/Chart.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/ladda/spin.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/ladda/ladda.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jquery-mask-input/jquery.mask.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/select2/js/select2.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-world-mill.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/daterangepicker/moment.min.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/daterangepicker/daterangepicker.js'%}"></script>
		<script src="{% static 'assets-analytics/plugins/jekyll-search.min.js'%}"></script>
		<script src="{% static 'assets-analytics/js/sleek.js'%}"></script>
		<script src="{% static 'assets-analytics/js/chart.js'%}"></script>
		<script src="{% static 'assets-analytics/js/date-range.js'%}"></script>
		<script src="{% static 'assets-analytics/js/map.js'%}"></script>
		<script src="{% static 'assets-analytics/js/custom.js'%}"></script>

</html>