{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Sahyog</title>
</head>
<body>

        <div id="mapid">
           
        </div>

        <script type="text/javascript">
            var latlng;
            var mymap;
            var lol = 1;

                
            navigator.geolocation.getCurrentPosition(function(location) {
                    latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
                    mymap = L.map('mapid').setView(latlng, 13)
                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://mapbox.com">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: 'pk.eyJ1IjoicmFodWxtaXN0cnkzMyIsImEiOiJjazRvMmg0dGIwMjU5M2pwMWtlYmRsNmZjIn0.-b0ywtsKoCRSfL5Xd_2c0g'
                    }).addTo(mymap);

                    L.marker(latlng).addTo(mymap);
                    // console.log("renderrrr");
                    });
                
                    // console.log(mymap);
                   

                
            $(document).on('submit','#reportcrime',function(event){
                event.preventDefault();
                var $form = $(this),
                    url = $form.attr('action');
                    $.ajax({
                        type:'POST',
                        dataType:'json',
                        url:url,
                        data:$('#reportcrime').serialize(),
                        success: function(response) {
                                console.log(response.latitude);
                                var long = response.longitude;
                                var lat = response.latitude;
                                newLatLong= new L.LatLng(lat,long);
                                L.marker(newLatLong).addTo(mymap);

                                        
                        }

                    });
                    
                    return false;


                });
                

           
            
            
            
            
            
            
            

        </script>

        <div class="report">
                <form id="reportcrime" action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                    <input type="text" placeholder="Enter description" id="description" name="description">
                    <input type="text" placeholder="Enter location" id="location" name="location">
                    <input type="submit">

                </form>
               
                


        

        </div>
            

        

</body>
</html>