{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

    <script
        src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <title>Sahyog Administration</title>
</head>
<body>
    <div id="mapid">

    </div>
    <script>
        var latlng;
            var mymap;
            var crimeLocation;
            var coodsLat = [];
            var coodsLng = [];


            navigator.geolocation.getCurrentPosition(function (location) {
                latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
                mymap = L.map('mapid').setView(latlng, 13)

                L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }).addTo(mymap);
                L.control.scale().addTo(mymap);


                var searchControl = new L.esri.Controls.Geosearch().addTo(mymap);
                var results = new L.LayerGroup().addTo(mymap);
                searchControl.on('results', function (data) {
                    results.clearLayers();
                    for (var i = data.results.length - 1; i >= 0; i--) {
                        results.addLayer(L.marker(data.results[i].latlng));
                        coodsLat.push(data.results[i].latlng.lat);
                        coodsLng.push(data.results[i].latlng.lng);
                        console.log(data.results[i]);
                        document.getElementById("location").value = data.results[i].text;
                        crimeLocation = { "lat": data.results[i].latlng.lat, "lng": data.results[i].latlng.lng }
                    }
                });

                L.marker(latlng).addTo(mymap);

            });
            if (typeof (EventSource) !== "undefined") {
                var source = new EventSource("{% url 'random' %}");

                source.onmessage = function (event) {

                    console.log((JSON.parse(event.data)));
                    JSON.parse(event.data).forEach((item, index) => {
                        if (!coodsLat.includes(item.lat) && !coodsLng.includes(item.lng)) {
                            console.log('nope');
                            coodsLat.push(item.lat);
                            coodsLng.push(item.lng);
                            var temp = new L.LatLng(item.lat, item.lng);
                            L.marker(temp).addTo(mymap);
                        }

                    });

                };
            } else {
                console.log("Error");
            }
    </script>
</body>
</html>