{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Sahyog Admin</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
    rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css'%}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

  <script
    src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'admin.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- ---------------------------------------------------- -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

  <script
    src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
  <link rel="stylesheet" href="{% static 'styles.css'%}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- PLUGINS CSS STYLE -->
  <link href="{% static 'assets-analytics/plugins/toaster/toastr.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets-analytics/plugins/nprogress/nprogress.css'%}" rel="stylesheet" />
  <link href="{% static 'assets-analytics/plugins/flag-icons/css/flag-icon.min.css'%}" rel="stylesheet" />
  <link href="{% static 'assets-analytics//plugins/jvectormap/jquery-jvectormap-2.0.3.css'%}" rel="stylesheet" />
  <link href="{% static 'assets-analytics/plugins/ladda/ladda.min.css'%}" rel="stylesheet" />
  <link href="{% static 'assets-analytics/plugins/select2/css/select2.min.css'%}" rel="stylesheet" />
  <link href="{% static 'assets-analytics/plugins/daterangepicker/daterangepicker.css'%}" rel="stylesheet" />

  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="{% static 'assets-analytics/css/sleek.css' %}" />

</head>
<style>
  .active {
    background: #FFAA00 !important;
  }

  .modal-backdrop {
    opacity: 0.5 !important;
  }

  .mdi {
    color: white !important;
  }

  body,
  html {
    background: url("{% static 'india1.jpg' %}");
    /* background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; */

    background-position: center;
  }

  .black {
    color: black !important;
  }

  #overlay {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
  }


  .btn {
    background-color: transparent;
    border: 2px solid #ff9800;
    border-color: #ff9800;
    padding: 10px;
    margin: 10px;
    color: black;
    font-family: georgia;
    border-radius: 10px;
    /*margin-top: 50vh;*/
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }

  .btn:hover {
    background-color: #ffc400;
    border-color: #ffc400;
  }

  .sos {
    background-color: black;
    border-color: red;
    color: white;
  }

  .sos:hover {
    background-color: red;
    color: white;
  }
</style>

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">

  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  <div class="mobile-sticky-body-overlay"></div>
  <div class="wrapper">
    <aside class="left-sidebar bg-sidebar">
      <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div style="background-color: #ffaa00;" class="app-brand">
          <a href="/index.html">

            <span class="brand-name">Sahyog</span>
          </a>
        </div>
        <!-- begin sidebar scrollbar -->
        <div class="sidebar-scrollbar">

          <!-- sidebar menu -->
          <ul class="nav sidebar-inner" id="sidebar-menu">



            <li class="has-sub expand">
              <a class="sidenav-item-link" href="/adminarea/admindashboard/">
                <i class="mdi mdi-view-dashboard-outline"></i>
                <span class="nav-text">Admin Home</span>
              </a>

            </li>

            <li class="has-sub active ">
              <a class="sidenav-item-link" href="/adminarea/status/">
                <i class="mdi mdi-format-align-justify"></i>
                <span class="nav-text">Crime Status</span>
              </a>
            </li>


            <li class="has-sub">
              <a class="sidenav-item-link" href="/adminarea/predictCrime/">
                <i class="mdi mdi-chart-histogram"></i>
                <span class="nav-text">Predict Crime</span>
              </a>
            </li>

            <li class="has-sub ">
              <a class="sidenav-item-link" href="/sahyog/report/">
                <i class="mdi mdi-image-filter-none"></i>

                <span class="nav-text">Report</span>
              </a>


            </li>



            <li class="has-sub ">
              <a class="sidenav-item-link" href="sahyog/validate/">
                <i class="mdi mdi-check"></i>
                <span class="nav-text">Validate</span>
              </a>

            </li>



            <li class="has-sub">
              <a class="sidenav-item-link" href="/sahyog/safey/">
                <i class="mdi mdi-map-marker-multiple"></i>
                <span class="nav-text">Safe Route</span>
              </a>


            </li>



            <li class="has-sub">
              <a class="sidenav-item-link" href="/sahyog/analytics">
                <i class="mdi mdi-chart-line"></i>
                <span class="nav-text">Analytics</span>
              </a>
            </li>


          </ul>
        </div>
        <hr class="separator" />
        <div class="sidebar-footer">
          <div class="sidebar-footer-content">
            <h6 class="text-uppercase">
              Cases Closed <span class="float-right">72%</span>
            </h6>
            <div class="progress progress-xs">
              <div class="progress-bar active" style="width: 72%;" role="progressbar"></div>
            </div>
            <h6 class="text-uppercase">
              Crimes Validated<span class="float-right">65%</span>
            </h6>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-warning" style="width: 65%;" role="progressbar"></div>
            </div>
          </div>
        </div>
      </div>
    </aside>



    <div class="page-wrapper">
      <!-- Header -->
      <header class="main-header " id="header">
        <nav style="background-color: transparent; border: none;" class="navbar navbar-static-top navbar-expand-lg">
          <!-- Sidebar toggle button -->
          <button style="background-color: black; border: none; color: white;" id="sidebar-toggler"
            class="sidebar-toggle">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <!-- search form -->
          <div class="search-form d-none d-lg-inline-block">
            <div class="input-group">

            </div>
            <!-- <div id="search-results-container">
							<ul id="search-results"></ul>
						</div> -->
          </div>

          <div class="navbar-right ">
            <ul class="nav navbar-nav">
              <a href="/sahyog/SOS/" class="btn sos">SOS</a>
              <!-- <a href="/sahyog/register/" class="btn btn-dark">Register</a> -->
              <!-- <a href="" class="btn btn-dark">{{username}}</a> -->


            </ul>
          </div>
        </nav>
      </header>
      <div class="content-wrapper">
        <div class="content">
          <div class="card w-90 mx-auto" style="text-align: center; color: black;">
            <div class="card-body">
              <h2 class="card-title">Crime Status</h2>
              <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Button</a> -->

              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Pending</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Resolved</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div style="background: white !important;" class="tab-pane fade show active" id="pills-home"
                  role="tabpanel" aria-labelledby="pills-home-tab">

                  <table class="table table-hover">
                    <thead>
                      <tr>

                        <th scope="col">User</th>
                        <th scope="col">User Phone</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Crime Type</th>
                        <th scope="col">Crime Severity</th>
                        <th scope="col">Crime Location</th>
                        <th scope="col">Crime Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for locatn, ctype, clevel, cdet, email, ph, stat, uName in reports %}
                      {% if stat == "Pending" %}


                      <tr>
                        <!-- <th scope="row">{{i}}</th> -->
                        <td>{{uName}}</td>
                        <td>{{ph}}</td>
                        <td>{{email}}</td>
                        <td>{{ctype}}</td>
                        <td>{{clevel}}</td>
                        <td>{{locatn}}</td>
                        <td>{{cdet}}</td>
                        <td><i style="width: 15px; height: 15px;" class="mdi black mdi-exit-to-app"></i></td>
                      </tr>
                      {% endif %}
                      {% endfor %}


                    </tbody>
                  </table>
                </div>
                <div style="background: white !important;" class="tab-pane fade" id="pills-profile" role="tabpanel"
                  aria-labelledby="pills-profile-tab">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">User</th>
                        <th scope="col">User Phone</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Crime Type</th>
                        <th scope="col">Crime Severity</th>
                        <th scope="col">Crime Location</th>
                        <th scope="col">Crime Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Rahul Mistry</td>
                        <td>+918452070570</td>
                        <td>rahulmistry@gmail.com</td>
                        <td>Theft</td>
                        <td>1</td>
                        <td>Bhandup Village, Bhandup East, Mumbai, Mumbai Suburban, Maharashtra, IND</td>
                        <td>My MI Phone was stolen. </td>
                        <td><i style="width: 15px; height: 15px;" class="mdi black mdi-exit-to-app"></i></td>
                      </tr>


                    </tbody>
                  </table>
                </div>
                <div style="background: white !important;" class="tab-pane fade" id="pills-contact" role="tabpanel"
                  aria-labelledby="pills-contact-tab">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">User</th>
                        <th scope="col">User Phone</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Crime Type</th>
                        <th scope="col">Crime Severity</th>
                        <th scope="col">Crime Location</th>
                        <th scope="col">Crime Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <th scope="row">1</th>
                        <td>Prachit Mhalgi</td>
                        <td>+919594888717</td>
                        <td>prachit@gmail.com</td>
                        <td>Bombing</td>
                        <td>3</td>
                        <td>Chandivali, Andheri East, Mumbai, Mumbai Suburban, Maharashtra, IND</td>
                        <td>Momb Alert received. </td>
                        <td><i style="width: 15px; height: 15px;" class="mdi black mdi-exit-to-app"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Kalpesh Mataghare</td>
                        <td>+919873732123</td>
                        <td>kmataghare@gmail.com</td>
                        <td>Theft</td>
                        <td>1</td>
                        <td>Railway Station, Mulund West, Mumbai, Mumbai Suburban, Maharashtra, IND</td>
                        <td>Watch stolen at train station. </td>
                        <td><i style="width: 15px; height: 15px;" class="mdi black mdi-exit-to-app"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Girish Thatte</td>
                        <td>+918452070570</td>
                        <td>girishthatte@gmail.com</td>
                        <td>Robbery</td>
                        <td>1</td>
                        <td>Appetite-Resto Bar, Powai, Mumbai, Mumbai Suburban, Maharashtra, 400072, IND</td>
                        <td>A lady's bag was stolen by two men on bike.</td>
                        <td><i style="width: 15px; height: 15px;" class="mdi black mdi-exit-to-app"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Amisha Waghela</td>
                        <td>+919987718876</td>
                        <td>amishabw@gmail.com</td>
                        <td>Assault</td>
                        <td>1</td>
                        <td>Kokilaben Dhirubhai Ambani Hospital &amp; Medical Research Institute, Andheri West, Mumbai,
                          Mumbai Suburban, Maharashtra, 400053, IND</td>
                        <td>The crime was witnessed by me while entering the hospital. A person was aasaulted while
                          entering</td>
                        <td><i style="width: 15px; height: 15px;" class="mdi black mdi-exit-to-app"></i></td>

                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Rahul Mistry</td>
                        <td>+918452070570</td>
                        <td>rahulmistry@gmail.com</td>
                        <td>Theft</td>
                        <td>1</td>
                        <td>Bhandup Village, Bhandup East, Mumbai, Mumbai Suburban, Maharashtra, IND</td>
                        <td>My MI Phone was stolen. </td>
                        <td><i style="width: 15px; height: 15px;" class="mdi black mdi-exit-to-app"></i></td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>



            </div>
          </div>

        </div>
      </div>
    </div>
  </div>





  <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
  <!-- Bootstrap Js -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  <!-- Metis Menu Js -->
  <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>

  <!-- Custom Js -->
  <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM" defer></script>
  <script src="{% static 'assets-analytics/plugins/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/toaster/toastr.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/slimscrollbar/jquery.slimscroll.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/charts/Chart.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/ladda/spin.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/ladda/ladda.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/jquery-mask-input/jquery.mask.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/select2/js/select2.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/jvectormap/jquery-jvectormap-world-mill.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/daterangepicker/moment.min.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/daterangepicker/daterangepicker.js'%}"></script>
  <script src="{% static 'assets-analytics/plugins/jekyll-search.min.js'%}"></script>
  <script src="{% static 'assets-analytics/js/sleek.js'%}"></script>
  <script src="{% static 'assets-analytics/js/chart.js'%}"></script>
  <script src="{% static 'assets-analytics/js/date-range.js'%}"></script>
  <script src="{% static 'assets-analytics/js/map.js'%}"></script>
  <script src="{% static 'assets-analytics/js/custom.js'%}"></script>

</body>

</html>