#mapid { height: 500px;
    position: relative;

 }

.info {
    position:absolute;
    top:100px;
    left:10px;
    }
    .info div {
      background:#fff;
      padding:10px;
      border-radius:3px;
      }